* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    border: solid 2px black;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border: solid 2px red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}